
.container {
    width: 100%;
    padding: 1rem;
  }
  
  .transaction {
    display: flex;
    gap: 1rem; 
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .transaction > * {
    flex: 1; 
    min-width: 200px; 
  }
  
  .Wallet {
    background-color: #fff; 
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .Transfer {
    background-color: #fff; 
    padding: 1rem;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .CryptoTable {
    margin-top: 1rem;
    background-color: #fff; 
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  